openapi: 3.2.0
info:
  title: Credentially Webhook Meta API
  description: '## Webhook behaviour


    This service delivers webhook callbacks to external endpoints.'
  version: 2.0.0
servers:
- url: https://app.credentially.io/webhook-gateway
  description: Generated server url
tags:
- name: Meta
  description: API for fetching metadata
paths:
  /meta/events:
    get:
      tags:
      - Meta
      summary: Get list of available webhook event types with details
      operationId: getAvailableEventTypes
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypeInfo'
      security:
      - bearer-key: []
components:
  schemas:
    PayloadFieldInfo:
      type: object
      properties:
        key:
          type: string
        description:
          type: string
        dataType:
          type: string
          enum:
          - STRING
          - NUMBER
          - BOOLEAN
          - OBJECT
          - ARRAY
          - UUID
          - DATE_TIME
          - DATE
        exampleValue: {}
    EventTypeInfo:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        payloadFields:
          type: array
          items:
            $ref: '#/components/schemas/PayloadFieldInfo'
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
