openapi: 3.1.0
info:
  title: Credentially Public Compliance-packages Location Types API
  description: Public API Proxy with Rate Limiting and Audit
  version: 2.0.0
servers:
- url: https://app.credentially.io/gateway
  description: Generated server url
tags:
- name: Location Types
  description: Org-scoped classifications for placement locations (read-only).
paths:
  /api/location-types/{id}:
    get:
      tags:
      - Location Types
      summary: Get a location type by public id
      description: '


        **Rate Limit:** `get-location-type` (100 req / 1s)'
      operationId: get_3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Location type found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LocationTypeResponse'
        '403':
          description: Token lacks scope, or type not in caller's organisation
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
  /api/location-types:
    get:
      tags:
      - Location Types
      summary: List location types
      description: '


        **Rate Limit:** `list-location-types` (100 req / 1s)'
      operationId: list_5
      parameters:
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Location types retrieved
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationTypeResponse'
        '401':
          description: Missing or invalid bearer token
        '403':
          description: Token lacks required scope
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
components:
  schemas:
    LocationTypeResponse:
      type: object
      properties:
        publicId:
          type: string
          format: uuid
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
          format: uuid
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
