openapi: 3.1.0
info:
  title: Credentially Public Compliance-packages Dictionary API
  description: Public API Proxy with Rate Limiting and Audit
  version: 2.0.0
servers:
- url: https://app.credentially.io/gateway
  description: Generated server url
tags:
- name: Dictionary
  description: Dictionary lookup endpoints for custom profile field values
paths:
  /api/dictionary/{dictionaryId}:
    get:
      tags:
      - Dictionary
      summary: Get Dictionary Values
      description: 'Returns the allowed values for a dictionary-type custom profile field. Use the dictionaryId from the jsonSchema returned by GET /api/profile/metadata.


        **Rate Limit:** `dictionary-lookup` (100 req / 1s)'
      operationId: getDictionaryValues
      parameters:
      - name: dictionaryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: parentValue
        in: query
        required: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Dictionary values retrieved
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Dictionary not found
        '500':
          description: Internal server error
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
components:
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
