openapi: 3.1.0
info:
  title: Credentially Public Compliance-packages Organisation Groups API
  description: Public API Proxy with Rate Limiting and Audit
  version: 2.0.0
servers:
- url: https://app.credentially.io/gateway
  description: Generated server url
tags:
- name: Organisation Groups
  description: Organisation group member management endpoints
paths:
  /api/organisation/groups/{groupPublicId}/members:
    get:
      tags:
      - Organisation Groups
      summary: Load Organisation Group Members
      description: 'Fetches members in an organisation group.


        **Rate Limit:** `organisation-group-members-delete` (25 req / 1s)'
      operationId: loadMembers
      parameters:
      - name: groupPublicId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Group members loaded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganisationGroupMemberPageDto'
        '500':
          description: Internal server error
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
    post:
      tags:
      - Organisation Groups
      summary: Add Organisation Group Members
      description: 'Adds members to an organisation group using job position ids.


        **Rate Limit:** `organisation-group-members-delete` (25 req / 1s)'
      operationId: addMembers
      parameters:
      - name: groupPublicId
        in: path
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '200':
          description: Group members updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganisationGroupMemberPageDto'
        '400':
          description: Invalid request body. jobPositionIds must not be empty.
        '500':
          description: Internal server error
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
    delete:
      tags:
      - Organisation Groups
      summary: Delete Organisation Group Members
      description: 'Removes members from an organisation group using job position ids.


        **Rate Limit:** `organisation-group-members-delete` (25 req / 1s)'
      operationId: deleteMembers
      parameters:
      - name: groupPublicId
        in: path
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '200':
          description: Group members updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganisationGroupMemberPageDto'
        '400':
          description: Invalid request body. jobPositionIds must not be empty.
        '500':
          description: Internal server error
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
components:
  schemas:
    OrganisationGroupMemberDto:
      type: object
      properties:
        organisationGroupPublicId:
          type: string
        jobPositionId:
          type: integer
          format: int64
        fullName:
          type: string
        role:
          type: string
    OrganisationGroupMemberPageDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/OrganisationGroupMemberDto'
        totalPages:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
