openapi: 3.1.0
info:
  title: Credentially Public Compliance-packages Jurisdictions API
  description: Public API Proxy with Rate Limiting and Audit
  version: 2.0.0
servers:
- url: https://app.credentially.io/gateway
  description: Generated server url
tags:
- name: Jurisdictions
  description: Org-scoped jurisdictions a placement can reference (read-only).
paths:
  /api/jurisdictions/{id}:
    get:
      tags:
      - Jurisdictions
      summary: Get a jurisdiction by public id
      description: '


        **Rate Limit:** `get-jurisdiction` (100 req / 1s)'
      operationId: get_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Jurisdiction found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JurisdictionResponse'
        '403':
          description: Token lacks scope, or jurisdiction not in caller's organisation
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
  /api/jurisdictions:
    get:
      tags:
      - Jurisdictions
      summary: List jurisdictions
      description: '


        **Rate Limit:** `list-jurisdictions` (100 req / 1s)'
      operationId: list_6
      parameters:
      - name: X-API-Version
        in: header
        schema:
          type: string
          default: 2.0.0
          enum:
          - 2.0.0
      responses:
        '200':
          description: Jurisdictions retrieved
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JurisdictionResponse'
        '401':
          description: Missing or invalid bearer token
        '403':
          description: Token lacks required scope
        '429':
          description: Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                type: integer
                format: int32
                example: 1
      security:
      - bearer-key: []
components:
  schemas:
    JurisdictionResponse:
      type: object
      properties:
        publicId:
          type: string
          format: uuid
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
          format: uuid
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
