{"openapi":"3.1.0","info":{"title":"Credentially Public API","description":"Public API Proxy with Rate Limiting and Audit","version":"2.0.0"},"servers":[{"url":"https://app.credentially.io/gateway","description":"Generated server url"}],"tags":[{"name":"Dictionary","description":"Dictionary lookup endpoints for custom profile field values"},{"name":"Profiles","description":"Profile note management endpoints"},{"name":"Locations","description":"Facilities / sites where placements occur. Each belongs to one jurisdiction."},{"name":"Profiles","description":"Profile tag management endpoints"},{"name":"Documents","description":"Document management proxy endpoints"},{"name":"Profiles","description":"Profile lifecycle management endpoints"},{"name":"Profile Groups","description":"Organisation groups proxy endpoints"},{"name":"References","description":"Profile reference status lookup endpoints"},{"name":"DBS","description":"DBS check lookup and refresh endpoints"},{"name":"Document Auto-fill","description":"Automated document data extraction and validation endpoints"},{"name":"Organisation Groups","description":"Organisation group member management endpoints"},{"name":"Placement Notes","description":"Notes attached to a placement — free-text annotations."},{"name":"Jurisdictions","description":"Org-scoped jurisdictions a placement can reference (read-only)."},{"name":"Stages","description":"Kanban placement stages — per-org column definitions for the placements board."},{"name":"Placement Roles","description":"Org-scoped roles a placement can reference (e.g. Band 6 RN)."},{"name":"Employee Placements","description":"Placement data scoped to a specific employee."},{"name":"Placements","description":"Placement lifecycle proxy endpoints — assignment of an employee to a location + role within the organisation."},{"name":"Profiles","description":"Profile management proxy endpoints"},{"name":"Compliance-packages","description":"Profile's compliance packages management proxy endpoints"},{"name":"Stage Placements","description":"Placements scoped to a Kanban stage — board column reads + bulk-move."},{"name":"Location Types","description":"Org-scoped classifications for placement locations (read-only)."},{"name":"Right to Work","description":"Right to work status lookup endpoints"}],"paths":{"/api/stages/{publicId}":{"put":{"tags":["Stages"],"summary":"Update a stage's mutable fields (rename / recolour / enable-disable)","description":"\n\n**Rate Limit:** `update-stage` (25 req / 1s)","operationId":"update","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStageRequest"}}},"required":true},"responses":{"200":{"description":"Stage updated.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StageResponse"}}}},"400":{"description":"Validation failed (name blank, colour not hex)"},"404":{"description":"Stage not found in this organisation"},"409":{"description":"Name collides with an existing stage"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/stages/order":{"put":{"tags":["Stages"],"summary":"Reorder all stages","description":"Total reorder — the full left-to-right list of every stage public id in the org.\n\n**Rate Limit:** `reorder-stages` (25 req / 1s)","operationId":"reorder","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReorderStagesRequest"}}},"required":true},"responses":{"200":{"description":"Stages reordered; returns the new order.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StageResponse"}}}}},"400":{"description":"Reorder list does not match the org's stages exactly"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/tags":{"get":{"tags":["Profiles"],"summary":"List Profile Tags","description":"Returns the tags currently assigned to a profile.\n\n**Rate Limit:** `load-profile-tags` (100 req / 1s)","operationId":"loadProfileTags","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Tags loaded successfully","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","example":"locum"}}}}},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Profiles"],"summary":"Set Profile Tags","description":"Replaces the full set of tags on a profile with the supplied tags. Send an empty array to clear all tags.\n\n**Rate Limit:** `load-profile-tags` (100 req / 1s)","operationId":"updateProfileTags","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileTagsRequestDto"}}},"required":true},"responses":{"200":{"description":"Tags updated successfully","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","example":"locum"}}}}},"400":{"description":"Invalid request data"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/force-activate":{"put":{"tags":["Profiles"],"summary":"Force-activate Profile","description":"Forces a not-yet-active candidate to ACTIVE, bypassing the invitation-acceptance step: an IMPORTED candidate (added but never invited) or an INVITED candidate (invited but not yet accepted) becomes ACTIVE immediately, so they can be emailed and can sign in. Distinct from PUT /{profileId}/activate, which only reactivates a previously ARCHIVED profile. Idempotent on profiles that are already ACTIVE.\n\n**Rate Limit:** `force-activate-profile` (25 req / 1s)","operationId":"forceActivateProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profile force-activated"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/archive":{"put":{"tags":["Profiles"],"summary":"Archive Profile","description":"Archives a profile within the organisation.\n\n**Rate Limit:** `archive-profile` (25 req / 1s)","operationId":"archiveProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profile archived"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/activate":{"put":{"tags":["Profiles"],"summary":"Activate Profile (un-archive)","description":"Reactivates a previously ARCHIVED profile (reverses archive). This does NOT activate a candidate who was never invited or has not yet accepted their invitation — for that use PUT /{profileId}/force-activate.\n\n**Rate Limit:** `activate-profile` (25 req / 1s)","operationId":"activateProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profile activated"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile":{"get":{"tags":["Profiles"],"summary":"Load Profiles","description":"Fetches a paginated list of profiles for the organisation.\n\n**Rate Limit:** `create-profile` (25 req / 1s)","operationId":"loadProfiles","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"name","in":"query","description":"Smart search of first name, last name and email","required":false,"schema":{"type":"string","description":"Smart search of first name, last name and email"}},{"name":"complianceStatus","in":"query","description":"Compliance status","required":false,"schema":{"type":"string","description":"Compliance status","enum":["COMPLIANT","NOT_COMPLIANT"]}},{"name":"complianceTag","in":"query","required":false,"schema":{"type":"array","description":"Compliance tags","example":["REFERENCE_AWAITING_APPROVAL","REFERENCE_BOUNCED","REFERENCE_NOT_ENOUGH","DOCUMENTS_DECLINED","DOCUMENTS_AWAITING_APPROVAL","DOCUMENTS_MISSING"],"items":{"type":"string"}}},{"name":"groups","in":"query","required":false,"schema":{"type":"array","description":"Groups","example":["group01-public-id","group02-public-id","group03-public-id"],"items":{"type":"string"}}},{"name":"jobPositionStatus","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","description":"Job position status","enum":["ACTIVE","INVITED","IMPORTED","ARCHIVED"]}}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profiles loaded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileListPageDto"}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Profiles"],"summary":"Create Profile","description":"Creates a new profile and optionally populates custom fields in a single transaction.\n\n**Rate Limit:** `create-profile` (25 req / 1s)","operationId":"createProfile","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProfileRequestDto"}}},"required":true},"responses":{"201":{"description":"Profile created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateProfileResponseDto"}}}},"400":{"description":"Invalid request data (e.g. invalid role)"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"patch":{"tags":["Profiles"],"summary":"Update Profile Fields","description":"Updates fields for an existing profile identified by email.\n\n**Rate Limit:** `create-profile` (25 req / 1s)","operationId":"updateProfileFields","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileFieldsRequestDto"}}},"required":true},"responses":{"200":{"description":"Fields updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateProfileResponseDto"}}}},"404":{"description":"Profile not found for email"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}/stage":{"put":{"tags":["Placements"],"summary":"Assign a placement to a stage","description":"Idempotent upsert of the placement's board position. Optional position; 409 on stage disabled or version conflict.\n\n**Rate Limit:** `remove-placement-stage` (25 req / 1s)","operationId":"assignStage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignStageRequest"}}},"required":true},"responses":{"200":{"description":"Stage assignment created or updated.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"404":{"description":"Placement or stage not found in this organisation"},"409":{"description":"Target stage disabled or version conflict"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Placements"],"summary":"Remove a placement from the stages board","description":"Idempotent — 204 whether or not the placement was on the board.\n\n**Rate Limit:** `remove-placement-stage` (25 req / 1s)","operationId":"removeFromBoard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Placement removed from the board (or was not on it)"},"403":{"description":"Token lacks scope, or placement not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}":{"get":{"tags":["Placements"],"summary":"Get a placement by public id","description":"\n\n**Rate Limit:** `delete-placement` (25 req / 1s)","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Placement found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks scope, or placement not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Placements"],"summary":"Update a placement's mutable fields","description":"\n\n**Rate Limit:** `delete-placement` (25 req / 1s)","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePlacementRequest"}}},"required":true},"responses":{"200":{"description":"Placement updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"400":{"description":"Validation failed"},"403":{"description":"Token lacks scope, or placement not in caller's organisation"},"409":{"description":"approvalDueDate cannot be changed once approved/started"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Placements"],"summary":"Hard-delete a placement","description":"Allowed only when PENDING and the start date has not passed; otherwise 409 — use cancel instead.\n\n**Rate Limit:** `delete-placement` (25 req / 1s)","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Placement deleted"},"409":{"description":"Placement not PENDING, or start date elapsed"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placement-roles/{id}":{"get":{"tags":["Placement Roles"],"summary":"Get a placement role by public id","description":"\n\n**Rate Limit:** `delete-placement-role` (25 req / 1s)","operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Role found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"403":{"description":"Token lacks scope, or role not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Placement Roles"],"summary":"Update a placement role","description":"\n\n**Rate Limit:** `delete-placement-role` (25 req / 1s)","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}},"required":true},"responses":{"200":{"description":"Role updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"400":{"description":"Validation failed"},"403":{"description":"Token lacks scope, or role not in caller's organisation"},"409":{"description":"A role with the new name already exists"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Placement Roles"],"summary":"Delete a placement role","description":"\n\n**Rate Limit:** `delete-placement-role` (25 req / 1s)","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Role deleted"},"403":{"description":"Token lacks scope, or role not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/locations/{id}":{"get":{"tags":["Locations"],"summary":"Get a location by public id","description":"\n\n**Rate Limit:** `update-location` (25 req / 1s)","operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Location found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LocationResponse"}}}},"403":{"description":"Token lacks scope, or location not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Locations"],"summary":"Update a location","description":"\n\n**Rate Limit:** `update-location` (25 req / 1s)","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationRequest"}}},"required":true},"responses":{"200":{"description":"Location updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LocationResponse"}}}},"400":{"description":"Validation failed, or referenced jurisdiction/type not in this organisation"},"403":{"description":"Token lacks scope, or location not in caller's organisation"},"409":{"description":"A location with the new name already exists"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Locations"],"summary":"Delete a location","description":"\n\n**Rate Limit:** `update-location` (25 req / 1s)","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Location deleted"},"403":{"description":"Token lacks scope, or location not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/{profileId}":{"get":{"tags":["Documents"],"summary":"Get Profile Documents","description":"Fetches documents for a profile, enriched with extra OCR fields.\n\n**Rate Limit:** `get-documents` (100 req / 1s)","operationId":"getDocuments","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Documents retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}},"404":{"description":"Documents or profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"put":{"tags":["Documents"],"summary":"Upload Profile Document","description":"Uploads a document for a specific profile and triggers processing.\n\n**Rate Limit:** `get-documents` (100 req / 1s)","operationId":"uploadDocument","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DocumentUploadRequest"},"file":{"type":"string","format":"binary"}},"required":["data","file"]},"encoding":{"data":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"Document uploaded and processing started"},"400":{"description":"Invalid request data"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/stages/{stagePublicId}/placements/bulk":{"post":{"tags":["Stage Placements"],"summary":"Bulk-add placements to this stage","description":"Per-row execution — one failure doesn't poison the batch. Returns moved + skipped breakdown. Capped at 200 ids.\n\n**Rate Limit:** `bulk-add-stage-placements` (25 req / 1s)","operationId":"bulkAdd","parameters":[{"name":"stagePublicId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAddRequest"}}},"required":true},"responses":{"200":{"description":"Bulk move completed.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkAddResponse"}}}},"400":{"description":"Body validation failure (empty/oversized list)"},"404":{"description":"Stage not found in this organisation"},"409":{"description":"Stage is disabled; bulk-add not permitted."},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/notes":{"get":{"tags":["Profiles"],"summary":"Load Profile Notes","description":"Loads notes for a profile.\n\n**Rate Limit:** `load-profile-notes` (100 req / 1s)","operationId":"loadProfileNotes","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Notes loaded successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileNoteDto"}}}}},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Profiles"],"summary":"Create Profile Note","description":"Creates a note for a profile.\n\n**Rate Limit:** `load-profile-notes` (100 req / 1s)","operationId":"createProfileNote","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProfileNoteRequestDto"}}},"required":true},"responses":{"201":{"description":"Note created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileNoteDto"},"examples":{"createProfileNoteRequest":{"description":"createProfileNoteRequest","value":{"mentionedPublicIds":["user-1"],"note":"Candidate confirmed their availability for the next onboarding step."}}}}}},"400":{"description":"Invalid request data"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/groups":{"get":{"tags":["Profile Groups"],"summary":"Load Organisation Groups","description":"Fetches all existing organisation groups and returns their id and name.\n\n**Rate Limit:** `profile-groups-load` (100 req / 1s)","operationId":"loadAllGroups","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Groups loaded","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganisationGroupDto"}}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Profile Groups"],"summary":"Create Organisation Group","description":"Creates a new organisation group.\n\n**Rate Limit:** `profile-groups-load` (100 req / 1s)","operationId":"createGroup","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganisationGroupRequestDto"}}},"required":true},"responses":{"201":{"description":"Group created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationGroupDto"}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{placementId}/notes":{"get":{"tags":["Placement Notes"],"summary":"List notes for a placement","description":"\n\n**Rate Limit:** `list-placement-notes` (100 req / 1s)","operationId":"getNotes","parameters":[{"name":"placementId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Notes retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlacementNoteResponseDto"}}}}},"403":{"description":"Token lacks required scope"},"404":{"description":"Placement not found for this organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Placement Notes"],"summary":"Add a note to a placement","description":"\n\n**Rate Limit:** `list-placement-notes` (100 req / 1s)","operationId":"addNote","parameters":[{"name":"placementId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPlacementNoteRequest"}}},"required":true},"responses":{"201":{"description":"Note created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementNoteResponseDto"}}}},"400":{"description":"Validation failed"},"404":{"description":"Placement not found for this organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}/stage/prev":{"post":{"tags":["Placements"],"summary":"Move placement to the previous enabled stage","description":"\n\n**Rate Limit:** `move-placement-stage` (25 req / 1s)","operationId":"moveStagePrev","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Moved to the previous stage.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"404":{"description":"Placement not found"},"409":{"description":"Already at the first stage"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}/stage/next":{"post":{"tags":["Placements"],"summary":"Move placement to the next enabled stage","description":"\n\n**Rate Limit:** `move-placement-stage` (25 req / 1s)","operationId":"moveStageNext","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Moved to the next stage.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"404":{"description":"Placement not found"},"409":{"description":"Already at the last stage"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}/cancel":{"post":{"tags":["Placements"],"summary":"Cancel (soft-delete) a placement","description":"Sets status to CANCELLED with the supplied reason. Allowed from PENDING or ACTIVE; 409 from COMPLETED.\n\n**Rate Limit:** `cancel-placement` (25 req / 1s)","operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelPlacementRequest"}}},"required":true},"responses":{"204":{"description":"Placement cancelled"},"400":{"description":"reason missing or blank"},"409":{"description":"Placement is COMPLETED — cannot be cancelled"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{id}/approve":{"post":{"tags":["Placements"],"summary":"Approve a placement","description":"Records the calling user as approver + timestamp. Allowed only while PENDING and not already approved.\n\n**Rate Limit:** `approve-placement` (25 req / 1s)","operationId":"approve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Placement approved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"403":{"description":"Token lacks scope, or placement not in caller's organisation"},"409":{"description":"Placement not PENDING or already approved"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements":{"get":{"tags":["Placements"],"summary":"List placements (paginated, filterable)","description":"Unified filter contract — see the per-parameter docs. Default sort is startDate DESC; override with ?sort=field,dir.\n\n**Rate Limit:** `list-placements` (100 req / 1s)","operationId":"list","parameters":[{"name":"employeePublicId","in":"query","description":"Filter by employee public id (singular). Mutually exclusive with employeePublicIds.","required":false,"schema":{"type":"string","format":"uuid","description":"Filter by employee public id (singular). Mutually exclusive with employeePublicIds."}},{"name":"employeePublicIds","in":"query","description":"Filter by employee public ids (plural, max 50). Mutually exclusive with employeePublicId.","required":false,"schema":{"type":"array","description":"Filter by employee public ids (plural, max 50). Mutually exclusive with employeePublicId.","items":{"type":"string","format":"uuid","description":"Filter by employee public ids (plural, max 50). Mutually exclusive with employeePublicId."},"maxItems":50,"minItems":0}},{"name":"locationPublicIds","in":"query","description":"Filter by location public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by location public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by location public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"jurisdictionPublicIds","in":"query","description":"Filter by jurisdiction public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by jurisdiction public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by jurisdiction public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"rolePublicIds","in":"query","description":"Filter by role public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by role public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by role public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"status","in":"query","description":"Filter by lifecycle status","required":false,"schema":{"type":"string","description":"Filter by lifecycle status","enum":["PENDING","ACTIVE","COMPLETED","CANCELLED","PENDING","ACTIVE","COMPLETED"]}},{"name":"complianceStatus","in":"query","description":"Filter by compliance status","required":false,"schema":{"type":"string","description":"Filter by compliance status","enum":["COMPLIANT","NOT_COMPLIANT","COMPLIANT","NOT_COMPLIANT"]}},{"name":"startDateFrom","in":"query","description":"Absolute start date floor (inclusive). Mutually exclusive with startsWithinDays.","required":false,"schema":{"type":"string","format":"date","description":"Absolute start date floor (inclusive). Mutually exclusive with startsWithinDays."}},{"name":"startDateTo","in":"query","description":"Absolute start date ceiling (inclusive). Mutually exclusive with startsWithinDays.","required":false,"schema":{"type":"string","format":"date","description":"Absolute start date ceiling (inclusive). Mutually exclusive with startsWithinDays."}},{"name":"startsWithinDays","in":"query","description":"Relative start window — N days from today (inclusive). Mutually exclusive with startDateFrom/To.","required":false,"schema":{"type":"integer","format":"int32","description":"Relative start window — N days from today (inclusive). Mutually exclusive with startDateFrom/To."}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Page of placements","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementPageDto"}}}},"400":{"description":"Filter validation failure"},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Placements"],"summary":"Create a placement","description":"Created in PENDING status. jobPositionId is optional (auto-resolved when omitted).\n\n**Rate Limit:** `list-placements` (100 req / 1s)","operationId":"create","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlacementRequest"}}},"required":true},"responses":{"201":{"description":"Placement created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementResponseDto"}}}},"400":{"description":"Validation failed"},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placement-roles":{"get":{"tags":["Placement Roles"],"summary":"List placement roles","description":"\n\n**Rate Limit:** `create-placement-role` (25 req / 1s)","operationId":"list_1","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Roles retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Placement Roles"],"summary":"Create a placement role","description":"\n\n**Rate Limit:** `create-placement-role` (25 req / 1s)","operationId":"create_1","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}},"required":true},"responses":{"201":{"description":"Role created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"400":{"description":"Validation failed"},"409":{"description":"A role with that name already exists"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/organisation/groups/{groupPublicId}/members":{"get":{"tags":["Organisation Groups"],"summary":"Load Organisation Group Members","description":"Fetches members in an organisation group.\n\n**Rate Limit:** `organisation-group-members-delete` (25 req / 1s)","operationId":"loadMembers","parameters":[{"name":"groupPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Group members loaded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationGroupMemberPageDto"}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Organisation Groups"],"summary":"Add Organisation Group Members","description":"Adds members to an organisation group using job position ids.\n\n**Rate Limit:** `organisation-group-members-delete` (25 req / 1s)","operationId":"addMembers","parameters":[{"name":"groupPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"Group members updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationGroupMemberPageDto"}}}},"400":{"description":"Invalid request body. jobPositionIds must not be empty."},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Organisation Groups"],"summary":"Delete Organisation Group Members","description":"Removes members from an organisation group using job position ids.\n\n**Rate Limit:** `organisation-group-members-delete` (25 req / 1s)","operationId":"deleteMembers","parameters":[{"name":"groupPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"Group members updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationGroupMemberPageDto"}}}},"400":{"description":"Invalid request body. jobPositionIds must not be empty."},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/locations":{"get":{"tags":["Locations"],"summary":"List locations","description":"\n\n**Rate Limit:** `create-location` (25 req / 1s)","operationId":"list_2","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Locations retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LocationResponse"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Locations"],"summary":"Create a location","description":"\n\n**Rate Limit:** `create-location` (25 req / 1s)","operationId":"create_2","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationRequest"}}},"required":true},"responses":{"201":{"description":"Location created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LocationResponse"}}}},"400":{"description":"Validation failed, or referenced jurisdiction/type not in this organisation"},"409":{"description":"A location with that name already exists"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/auto-fill/process":{"post":{"tags":["Document Auto-fill"],"summary":"Process and auto-fill fields from a new document","description":"Processes a newly uploaded file and returns extracted fields, validation outcome, and OCR metadata.\n\n**Rate Limit:** `shared-intensive-write-limit` (25 req / 1s)","operationId":"autoFillProcess","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/AutoFillProcessDocumentRequest"},"file":{"type":"string","format":"binary"}},"required":["file","request"]}}}},"responses":{"200":{"description":"Document processed and fields extracted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoFillDocumentResponse"}}}},"400":{"description":"Invalid request data"},"413":{"description":"File size exceeds limit"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/auto-fill/existing":{"post":{"tags":["Document Auto-fill"],"summary":"Auto-fill fields from an existing document","description":"Extracts structured field values from an existing stored document using your target schema.\n\n**Rate Limit:** `shared-intensive-write-limit` (25 req / 1s)","operationId":"autoFillExisting","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoFillExistingDocumentRequest"}}},"required":true},"responses":{"200":{"description":"Field auto-filled successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoFillDocumentResponse"}}}},"400":{"description":"Invalid request data"},"404":{"description":"Document not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/dbs/{profileId}":{"get":{"tags":["DBS"],"summary":"Get Profile DBS Checks","description":"Returns all DBS checks for the requested profile in the authenticated organisation context. The public `profileId` path parameter maps to the upstream `employeePublicId`.\n\n**Rate Limit:** `profile-dbs-load` (100 req / 1s)","operationId":"getProfileDbsChecks","parameters":[{"name":"profileId","in":"path","description":"Credentially profile ID. This maps to the upstream employeePublicId.","required":true,"schema":{"type":"string"},"example":"a7b80d86-92ad-452b-8b30-580146e5e1fb"},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"DBS checks retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DbsCheckDto"}},"examples":{"dbsChecks":{"description":"dbsChecks","value":[{"id":501,"certificateNumber":"001122334455","status":"NEW_INFO","surname":"Doe","forename":"Jane","printDate":"2026-04-01","organisationId":100,"requestAttempts":1,"lastCheckDateTime":"2026-04-01T12:08:10.178Z","createDateTime":"2026-04-01T12:08:10.178Z","level":"Enhanced"}]}}}}},"404":{"description":"Returned when the profile has no DBS checks or when the upstream profile cannot be found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["DBS"],"summary":"Create Or Refresh Profile DBS Check","description":"Creates or refreshes a DBS check for the requested profile in the authenticated organisation context. The public `profileId` path parameter maps to the upstream `employeePublicId`. Provide the certificate details exactly as shown on the DBS certificate.\n\n**Rate Limit:** `profile-dbs-load` (100 req / 1s)","operationId":"updateProfileDbsCheck","parameters":[{"name":"profileId","in":"path","description":"Credentially profile ID. This maps to the upstream employeePublicId.","required":true,"schema":{"type":"string"},"example":"a7b80d86-92ad-452b-8b30-580146e5e1fb"},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"description":"Certificate details used to create or refresh the DBS check","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDbsCheckRequest"},"examples":{"updateDbsCheckRequest":{"description":"updateDbsCheckRequest","value":{"certificateNumber":"001122334455","birthDate":"1990-01-15","employeeSurname":"Doe","issueDate":"2026-04-01"}}}}},"required":true},"responses":{"200":{"description":"DBS check updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DbsCheckDto"},"examples":{"updatedDbsCheck":{"description":"updatedDbsCheck","value":{"id":501,"certificateNumber":"001122334455","status":"NON_BLANK_NO_NEW_INFO","surname":"Doe","forename":"Jane","printDate":"2026-04-01","organisationId":100,"requestAttempts":3,"lastCheckDateTime":"2026-04-01T12:08:10.178Z","createDateTime":"2026-04-01T12:08:10.178Z"}}}}}},"400":{"description":"Invalid request data"},"404":{"description":"Profile not found in the authenticated organisation context"},"429":{"description":"Too many DBS refresh attempts for the submitted certificate","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}},"500":{"description":"Internal server error"}},"security":[{"bearer-key":[]}]}},"/api/compliance-packages/{profileId}":{"get":{"tags":["Compliance-packages"],"summary":"Get all profile's compliance packages","description":"Fetches a list of all compliance requirements for all assigned packages for the profile.\n\n**Rate Limit:** `profile-compliance-packages` (25 req / 1s)","operationId":"getProfileCompliancePackages","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Compliance packages retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompliancePackageDto"}}}}},"404":{"description":"Compliance packages or profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Compliance-packages"],"summary":"Assign compliance packages to profile","description":"Assign compliance packages (list of their ids) to profile.\n\n**Rate Limit:** `profile-compliance-packages` (25 req / 1s)","operationId":"assign","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"Compliance packages were assigned successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompliancePackageDto"}}}}},"404":{"description":"Compliance packages or profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/groups/{groupPublicId}":{"delete":{"tags":["Profile Groups"],"summary":"Delete Organisation Group","description":"Deletes an organisation group by public id.\n\n**Rate Limit:** `profile-groups-delete` (25 req / 1s)","operationId":"deleteGroup","parameters":[{"name":"groupPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Group deleted"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"patch":{"tags":["Profile Groups"],"summary":"Update Organisation Group","description":"Updates an existing organisation group.\n\n**Rate Limit:** `profile-groups-delete` (25 req / 1s)","operationId":"updateGroup","parameters":[{"name":"groupPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganisationGroupRequestDto"}}},"required":true},"responses":{"200":{"description":"Group updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationGroupDto"}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/reject":{"patch":{"tags":["Documents"],"summary":"Reject document of file.","description":"Decline specific document and file.\n\n**Rate Limit:** `reject-document` (5 req / 1s)","operationId":"reject","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileRequest"},"encoding":{"note":{"contentType":"application/json"}}}},"required":true},"responses":{"200":{"description":"Document declined successfully"},"400":{"description":"Bad request, e.g. 'VerifierPublicId not found'"},"404":{"description":"Document or file not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/approve":{"patch":{"tags":["Documents"],"summary":"Approve document of file.","description":"Approve specific document and file.\n\n**Rate Limit:** `approve-document` (5 req / 1s)","operationId":"approve_1","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileRequest"},"encoding":{"note":{"contentType":"application/json"}}}},"required":true},"responses":{"200":{"description":"Document approved successfully"},"400":{"description":"Bad request, e.g. 'VerifierPublicId not found'"},"404":{"description":"Document or file not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/stages/{stagePublicId}/placements":{"get":{"tags":["Stage Placements"],"summary":"List placements assigned to this stage (paginated, filterable)","description":"Board-column read with the unified filter chip set (no employee filters). Default sort is position ASC.\n\n**Rate Limit:** `list-stage-placements` (100 req / 1s)","operationId":"list_3","parameters":[{"name":"stagePublicId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"locationPublicIds","in":"query","description":"Filter by location public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by location public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by location public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"jurisdictionPublicIds","in":"query","description":"Filter by jurisdiction public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by jurisdiction public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by jurisdiction public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"rolePublicIds","in":"query","description":"Filter by role public ids (plural, max 50)","required":false,"schema":{"type":"array","description":"Filter by role public ids (plural, max 50)","items":{"type":"string","format":"uuid","description":"Filter by role public ids (plural, max 50)"},"maxItems":50,"minItems":0}},{"name":"complianceStatus","in":"query","description":"Filter by compliance status","required":false,"schema":{"type":"string","description":"Filter by compliance status","enum":["COMPLIANT","NOT_COMPLIANT","COMPLIANT","NOT_COMPLIANT"]}},{"name":"startDateFrom","in":"query","description":"Absolute start date floor (inclusive). Mutually exclusive with startsWithinDays.","required":false,"schema":{"type":"string","format":"date","description":"Absolute start date floor (inclusive). Mutually exclusive with startsWithinDays."}},{"name":"startDateTo","in":"query","description":"Absolute start date ceiling (inclusive). Mutually exclusive with startsWithinDays.","required":false,"schema":{"type":"string","format":"date","description":"Absolute start date ceiling (inclusive). Mutually exclusive with startsWithinDays."}},{"name":"startsWithinDays","in":"query","description":"Relative start window — N days from today (inclusive). Mutually exclusive with startDateFrom/To.","required":false,"schema":{"type":"integer","format":"int32","description":"Relative start window — N days from today (inclusive). Mutually exclusive with startDateFrom/To."}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Page of placements assigned to this stage.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementPageDto"}}}},"400":{"description":"Filter validation failure"},"404":{"description":"Stage not found in this organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/stages":{"get":{"tags":["Stages"],"summary":"List stages (ordered, with cap meta)","description":"\n\n**Rate Limit:** `list-stages` (100 req / 1s)","operationId":"list_4","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Stages listed.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StageListResponse"}}}},"401":{"description":"Bearer token missing / invalid"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/right-to-work":{"get":{"tags":["Right to Work"],"summary":"Get Profile Right To Work Status","description":"Returns the current right to work outcome for the requested profile, including approval details when available.\n\n**Rate Limit:** `profile-right-to-work` (100 req / 1s)","operationId":"getProfileRightToWork","parameters":[{"name":"profileId","in":"path","description":"Credentially profile ID.","required":true,"schema":{"type":"string"},"example":"profile-123"},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Right to work status retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RightToWorkDto"},"examples":{"rightToWork":{"description":"rightToWork","value":{"profileId":"profile-123","status":"OK","passed":true,"sourceStatus":"PASSED","approvedBy":{"id":"approver-123","firstName":"Jane","lastName":"Smith","email":"jane.smith@example.com"},"approvedDate":"2026-04-01T12:08:10Z","validityType":"PERMANENT","updated":"2026-04-01T12:08:10Z"}}}}}},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/references":{"get":{"tags":["References"],"summary":"Get Profile References","description":"Returns reference titles, employment dates, durations, and status for the requested profile.\n\n**Rate Limit:** `profile-references` (100 req / 1s)","operationId":"getProfileReferences","parameters":[{"name":"profileId","in":"path","description":"Credentially profile ID.","required":true,"schema":{"type":"string"},"example":"profile-123"},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"References retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileReferencesDto"},"examples":{"references":{"description":"references","value":{"profileId":"profile-123","status":"OK","references":[{"id":"reference-123","title":"Employment reference","startDate":"2023-01-01","endDate":"2025-12-31","currentEmployment":false,"durationDays":1095,"status":"OK","sourceStatus":"APPROVED","expiryDate":"2026-12-31","referee":{"fullName":"Alex Johnson","email":"alex.johnson@example.com","phone":"+441234567890"}}]}}}}}},"404":{"description":"Profile not found in the authenticated organisation context"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}":{"get":{"tags":["Profiles"],"summary":"Get Profile by ID","description":"Fetches detailed profile information for a profile by their ID, including enriched custom fields.\n\n**Rate Limit:** `profile-by-id` (100 req / 1s)","operationId":"getProfileById","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profile found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileDetailDto"}}}},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]},"delete":{"tags":["Profiles"],"summary":"Delete Profile","description":"Deletes a profile from the organisation.\n\n**Rate Limit:** `profile-by-id` (100 req / 1s)","operationId":"deleteProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Profile deleted"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/metadata":{"get":{"tags":["Profiles"],"summary":"Get Profile Metadata","description":"Fetches and aggregates profile metadata fields (schema) and available roles for the organisation.\n\n**Rate Limit:** `profile-metadata` (100 req / 1s)","operationId":"getProfileMetadata","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Metadata retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisationMetadataDto"}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/find":{"get":{"tags":["Profiles"],"summary":"Get Profile by Email","description":"Fetches detailed profile information, including enriched custom fields.\n\n**Rate Limit:** `profile-by-email` (100 req / 1s)","operationId":"getProfileByEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profile found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileDetailDto"}}}},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/all":{"get":{"tags":["Profiles"],"summary":"List All Profiles (Lightweight)","description":"Fetches a non-paginated list of all profiles for the organisation with lightweight information.\n\n**Rate Limit:** `load-all-profiles` (5 req / 1s)","operationId":"loadAllProfiles","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Profiles loaded","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileLightDto"}}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/notes":{"get":{"tags":["Placements"],"summary":"List all placement notes for the organisation (paginated)","description":"\n\n**Rate Limit:** `list-placement-notes-org` (100 req / 1s)","operationId":"listAllNotes","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Page of notes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlacementNotePageDto"}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks organisation.placement.view scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/location-types/{id}":{"get":{"tags":["Location Types"],"summary":"Get a location type by public id","description":"\n\n**Rate Limit:** `get-location-type` (100 req / 1s)","operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Location type found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LocationTypeResponse"}}}},"403":{"description":"Token lacks scope, or type not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/location-types":{"get":{"tags":["Location Types"],"summary":"List location types","description":"\n\n**Rate Limit:** `list-location-types` (100 req / 1s)","operationId":"list_5","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Location types retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LocationTypeResponse"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/jurisdictions/{id}":{"get":{"tags":["Jurisdictions"],"summary":"Get a jurisdiction by public id","description":"\n\n**Rate Limit:** `get-jurisdiction` (100 req / 1s)","operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Jurisdiction found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JurisdictionResponse"}}}},"403":{"description":"Token lacks scope, or jurisdiction not in caller's organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/jurisdictions":{"get":{"tags":["Jurisdictions"],"summary":"List jurisdictions","description":"\n\n**Rate Limit:** `list-jurisdictions` (100 req / 1s)","operationId":"list_6","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Jurisdictions retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JurisdictionResponse"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/employees/{employeePublicId}/placements/notes":{"get":{"tags":["Employee Placements"],"summary":"List all placement notes for an employee","description":"\n\n**Rate Limit:** `list-employee-placement-notes` (100 req / 1s)","operationId":"getEmployeePlacementNotes","parameters":[{"name":"employeePublicId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Notes retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlacementNoteResponseDto"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/employees/{employeePublicId}/placements":{"get":{"tags":["Employee Placements"],"summary":"List PENDING and ACTIVE placements for an employee","description":"All in-flight placements (PENDING or ACTIVE) for the employee. COMPLETED and CANCELLED are excluded.\n\n**Rate Limit:** `list-employee-placements` (100 req / 1s)","operationId":"getActivePendingPlacements","parameters":[{"name":"employeePublicId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"List of in-flight placements (may be empty)","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlacementResponseDto"}}}}},"401":{"description":"Missing or invalid bearer token"},"403":{"description":"Token lacks required scope"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/download":{"get":{"tags":["Documents"],"summary":"Download file by its id","description":"Download file by its id.\n\n**Rate Limit:** `download-file` (5 req / 1s)","operationId":"downloadFile","parameters":[{"name":"fileId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"File downloaded successfully","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"500":{"description":"File not found"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/documents/document-types":{"get":{"tags":["Documents"],"summary":"Get Organisation Document Types","description":"Fetches document types for an organisation.\n\n**Rate Limit:** `get-document-types` (100 req / 1s)","operationId":"getDocumentTypes","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Document types retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganisationDocumentTypeDto"}}}}},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/dictionary/{dictionaryId}":{"get":{"tags":["Dictionary"],"summary":"Get Dictionary Values","description":"Returns the allowed values for a dictionary-type custom profile field. Use the dictionaryId from the jsonSchema returned by GET /api/profile/metadata.\n\n**Rate Limit:** `dictionary-lookup` (100 req / 1s)","operationId":"getDictionaryValues","parameters":[{"name":"dictionaryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"parentValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Dictionary values retrieved","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"Dictionary not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/dbs/{profileId}/{dbsCheckId}":{"get":{"tags":["DBS"],"summary":"Get Profile DBS Check","description":"Returns a single DBS check for the requested profile in the authenticated organisation context. The public `profileId` path parameter maps to the upstream `employeePublicId`.\n\n**Rate Limit:** `profile-dbs-by-id` (100 req / 1s)","operationId":"getProfileDbsCheck","parameters":[{"name":"profileId","in":"path","description":"Credentially profile ID. This maps to the upstream employeePublicId.","required":true,"schema":{"type":"string"},"example":"a7b80d86-92ad-452b-8b30-580146e5e1fb"},{"name":"dbsCheckId","in":"path","description":"Credentially DBS check ID for a single DBS result.","required":true,"schema":{"type":"integer","format":"int64"},"example":501},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"DBS check retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DbsCheckDto"},"examples":{"dbsCheck":{"description":"dbsCheck","value":{"id":501,"certificateNumber":"001122334455","status":"NEW_INFO","surname":"Doe","forename":"Jane","printDate":"2026-04-01","organisationId":100,"requestAttempts":1,"lastCheckDateTime":"2026-04-01T12:08:10.178Z","createDateTime":"2026-04-01T12:08:10.178Z","level":"Enhanced"}}}}}},"404":{"description":"Returned when the DBS check cannot be found or when the upstream profile cannot be found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/compliance-packages":{"get":{"tags":["Compliance-packages"],"summary":"Get all organisation's compliance packages","description":"Fetches a list of all organisation's compliance packages.\n\n**Rate Limit:** `organisation-compliance-packages` (25 req / 1s)","operationId":"getOrganisationCompliancePackages","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Compliance packages retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompliancePackageBasicDto"}}}}},"404":{"description":"Compliance packages not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/tags/{tagName}":{"delete":{"tags":["Profiles"],"summary":"Remove Profile Tag","description":"Removes a single tag from a profile. The tag name must be URL-encoded.\n\n**Rate Limit:** `delete-profile-tag` (25 req / 1s)","operationId":"deleteProfileTag","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tagName","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"200":{"description":"Tag removed successfully"},"404":{"description":"Profile not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/profile/{profileId}/notes/{noteId}":{"delete":{"tags":["Profiles"],"summary":"Delete Profile Note","description":"Deletes a note from a profile.\n\n**Rate Limit:** `delete-profile-note` (25 req / 1s)","operationId":"deleteProfileNote","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"noteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Note deleted successfully"},"404":{"description":"Profile or note not found"},"500":{"description":"Internal server error"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}},"/api/placements/{placementId}/notes/{noteId}":{"delete":{"tags":["Placement Notes"],"summary":"Delete a placement note","description":"\n\n**Rate Limit:** `delete-placement-note` (25 req / 1s)","operationId":"deleteNote","parameters":[{"name":"placementId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"noteId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"2.0.0","enum":["2.0.0"]}}],"responses":{"204":{"description":"Note deleted"},"403":{"description":"Token lacks required scope"},"404":{"description":"Placement or note not found for this organisation"},"429":{"description":"Too many requests - the rate limit for this endpoint has been exceeded. Use the Retry-After header to determine when to retry.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying the request.","schema":{"type":"integer","format":"int32","example":1}}}}},"security":[{"bearer-key":[]}]}}},"components":{"schemas":{"UpdateStageRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":128,"minLength":0},"colour":{"type":"string","minLength":1,"pattern":"^#[0-9A-Fa-f]{6}$"},"enabled":{"type":"boolean"}},"required":["colour","enabled","name"]},"StageResponse":{"type":"object","properties":{"publicId":{"type":"string","format":"uuid"},"name":{"type":"string"},"colour":{"type":"string"},"enabled":{"type":"boolean"},"ordinal":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string","format":"uuid"},"updatedAt":{"type":"string","format":"date-time"},"updatedBy":{"type":"string","format":"uuid"}}},"ReorderStagesRequest":{"type":"object","properties":{"stageIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1}},"required":["stageIds"]},"UpdateProfileTagsRequestDto":{"type":"object","description":"Request body for replacing the full set of tags on a profile.","properties":{"tags":{"type":"array","description":"The complete set of tags for the profile. This replaces any existing tags; send an empty array to clear all tags.","example":["locum","night-shift"],"items":{"type":"string","minLength":1},"uniqueItems":true}},"required":["tags"]},"CreateProfileRequestDto":{"type":"object","properties":{"email":{"type":"string","minLength":1},"roleName":{"type":"string","minLength":1},"firstName":{"type":"string"},"lastName":{"type":"string"},"birthDate":{"type":"string","format":"date"},"registrationNumber":{"type":"string"},"phone":{"type":"string"},"skipOnboarding":{"type":"boolean"},"sendInviteEmail":{"type":"boolean"},"forceActivate":{"type":"boolean","default":false,"description":"When true, the created candidate is immediately force-activated (IMPORTED/INVITED → ACTIVE), bypassing the invitation-acceptance step, so they can be emailed and can sign in straight away. Intended for provisioning an already-active member without sending an invitation — typically used with sendInviteEmail = false/null. Defaults to false.","example":false},"groups":{"type":"array","items":{"$ref":"#/components/schemas/OrganisationGroupDto"}},"fields":{"type":"array","items":{"$ref":"#/components/schemas/CustomFieldInputDto"}}},"required":["email","roleName"]},"CustomFieldInputDto":{"type":"object","properties":{"fieldName":{"type":"string"},"value":{}}},"OrganisationGroupDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"ChecklistAssignmentDto":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"}}},"ComplianceTagDto":{"type":"object","properties":{"key":{"type":"string"},"group":{"type":"string","enum":["COMPLIANCE_ERROR","COMPLIANCE_OK"]}}},"ConditionsDetailDto":{"type":"object","properties":{"ftpConditionsExist":{"type":"boolean"},"ftpUndertakingsExist":{"type":"boolean"},"ftpWarningsExist":{"type":"boolean"}}},"CreateProfileResponseDto":{"type":"object","properties":{"customFieldUpdateResult":{"type":"string"},"profileDto":{"$ref":"#/components/schemas/ProfileDto"}}},"CustomFieldDto":{"type":"object","properties":{"shortName":{"type":"string"},"name":{"type":"string"},"value":{}}},"GmcRegistrationDetailsDto":{"type":"object","properties":{"fullName":{"type":"string"},"surname":{"type":"string"},"givenName":{"type":"string"},"otherNames":{"type":"string"},"gender":{"type":"string"},"qualification":{"type":"string"},"yearOfQualification":{"type":"string"},"placeOfQualification":{"type":"string"},"placeOfQualificationCountry":{"type":"string"},"provisionalRegistrationDate":{"type":"string","format":"date"},"fullRegistrationDate":{"type":"string","format":"date"},"specialistRegisterDate":{"type":"string","format":"date"},"gpRegisterDate":{"type":"string","format":"date"},"registrationStatus":{"type":"string"},"arfDueDate":{"type":"string","format":"date"},"specialty1":{"type":"string"},"subSpecialty1":{"type":"string"},"specialty2":{"type":"string"},"subSpecialty2":{"type":"string"},"specialty3":{"type":"string"},"subSpecialty3":{"type":"string"},"specialty4":{"type":"string"},"subSpecialty4":{"type":"string"},"specialty5":{"type":"string"},"subSpecialty5":{"type":"string"},"specialty6":{"type":"string"},"subSpecialty6":{"type":"string"},"specialty7":{"type":"string"},"subSpecialty7":{"type":"string"},"revalidationStatus":{"type":"string"},"designatedBody":{"type":"string"},"responsibleOfficer":{"type":"string"},"doctorInTraining":{"type":"boolean"},"trainingDeaneryLetb":{"type":"string"},"trainingProgrammeSpecialty":{"type":"string"},"gmcApprovedTrainer":{"type":"boolean"},"trainerDeaneryLetb1":{"type":"string"},"trainerProgrammesSpecialty1":{"type":"string"},"trainerDeaneryLetb2":{"type":"string"},"trainerProgrammesSpecialty2":{"type":"string"},"trainerDeaneryLetb3":{"type":"string"},"trainerProgrammesSpecialty3":{"type":"string"},"ftpConditionsExist":{"type":"boolean"},"ftpUndertakingsExist":{"type":"boolean"},"ftpWarningsExist":{"type":"boolean"},"idCheckNotDone":{"type":"boolean"},"temporaryCovidRegistration":{"type":"boolean"},"lastCheckDateTime":{"type":"string","format":"date-time"}}},"GradeDto":{"type":"object","properties":{"code":{"type":"string"},"name":{"t
[...]
