{"openapi":"3.1.0","info":{"title":"Credentially Webhook API","description":"## Webhook behaviour\n\nThis service delivers webhook callbacks to external endpoints.\nNOTE: The callbacks serve as state-change notifications and are intended to be used alongside our API, rather than providing data directly\n\n### Handling callbacks\n- Callbacks are delivered to the configured callback_url in your subscription via a POST request\n- Each request includes a Basic authorisation header. This is the Base64 encoded value of the <webhookName>:<password>\n- A subscription with webhookName \"test\" and password \"pass1234\" will therefore yield an auth header of \"Basic dGVzdDpwYXNzMTIzNA==\"\n- Handlers must acknowledge each callback within 15s with a 2xx response, or it will be re-sent.\n\n### Retries\n- Failed deliveries are retried after 30 seconds, then after 60s, 120s etc, with the backoff duration doubling after each attempt\n- A maximum of 14 deliveries will be attempted after which no further attempts will be made\n\n### Ordering & Idempotency\n- Receivers should be idempotent, as strict ordering cannot be guaranteed and duplicate deliveries are possible (e.g. after timeouts or transient errors).\n","version":"2.0.0"},"servers":[{"url":"https://app.credentially.io/webhook-gateway","description":"Generated server url"}],"tags":[{"name":"Subscriptions","description":"API for managing webhook callback subscriptions"},{"name":"Meta","description":"API for fetching metadata"}],"paths":{"/subscriptions":{"get":{"tags":["Subscriptions"],"summary":"Get all webhook subscriptions for this org","operationId":"getSubscriptions","responses":{"200":{"description":"List of subscriptions retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["Subscriptions"],"summary":"Create a new webhook subscription","operationId":"createSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscriptionRequest"}}},"required":true},"responses":{"201":{"description":"Subscription created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"400":{"description":"Invalid input"}},"security":[{"bearer-key":[]}]}},"/meta/events":{"get":{"tags":["Meta"],"summary":"Get list of available webhook event types with details","operationId":"getAvailableEventTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventTypeInfo"}}}}}},"security":[{"bearer-key":[]}]}},"/subscriptions/{id}":{"delete":{"tags":["Subscriptions"],"summary":"Delete a webhook subscription","operationId":"deleteSubscription","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Subscription deleted successfully"},"404":{"description":"Subscription not found"}},"security":[{"bearer-key":[]}]}}},"components":{"schemas":{"CreateSubscriptionRequest":{"type":"object","description":"Request object for creating a subscription","properties":{"callbackUrl":{"type":"string","description":"The URL to receive webhook events","example":"https://api.example.com/callbacks","maxLength":500,"minLength":0,"pattern":"^https?://.+"},"webhookName":{"type":"string","description":"Identifiable name for this webhook subscription","maxLength":50,"minLength":3,"pattern":"^[a-zA-Z0-9_-]+$"},"password":{"type":"string","description":"Password for Basic Auth on the callback URL","maxLength":50,"minLength":8},"eventTypes":{"type":"array","description":"Set of event types to subscribe to","example":["PROFILE_COMPLIANCE_STATUS_CHANGED","PROFILE_DBS_STATUS_CHANGED"],"items":{"type":"string","minLength":1},"minItems":1,"uniqueItems":true}},"required":["callbackUrl","eventTypes","password","webhookName"]},"SubscriptionResponse":{"type":"object","description":"Webhook subscription returned from the API","properties":{"id":{"type":"string","format":"uuid"},"callbackUrl":{"type":"string"},"webhookName":{"type":"string"},"eventTypes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"}}},"EventTypeInfo":{"type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"payloadFields":{"type":"array","items":{"$ref":"#/components/schemas/PayloadFieldInfo"}}}},"PayloadFieldInfo":{"type":"object","properties":{"key":{"type":"string"},"description":{"type":"string"},"dataType":{"type":"string","enum":["STRING","NUMBER","BOOLEAN","OBJECT","ARRAY","UUID","DATE_TIME","DATE"]},"exampleValue":{}}}},"securitySchemes":{"bearer-key":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}